* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
}

body { 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 242, 255);
}

div {
    width: max-content;
    height: max-content;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}