* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  background-color: lightgray;
  padding: 10px 20px;
}

footer {

  text-align: center;
  background-color: lightgray;
  padding: 10px 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > ul {
  display: flex;
  gap: 7px;
  list-style: none;
}
main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgb(134, 134, 134);
}

select,
button {
  padding: 5px 10px;
}

.container {
  width: 70vw;
  max-width: 700px;
  background-color: lightblue;
  padding: 40px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
