* {
  padding: 5px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: bolder;
  font-size: 21px;
}

.text-red {
  color: #ff1b1b;
}

.text-green {
  color: #00ff00;
}

.text-blue {
  color: #000049;
}

.bg-yellow {
  background-color: #ffff00;
}

.bg-blue {
  background-color: #6262fd;
}

.bg-darkblue {
    background-color: #0202b4 !important ;
}

.border-top {
    border-top: 4px solid black;
}

.border-bottom {
    border-bottom: 4px solid black;
}

td:first-child, tr:first-child {
    background-color: rgb(169, 184, 250);
}

td:first-child {
  width: 45px;
  text-align: center;
}

table:first-child {
  background-color: red;
}

table,
td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 600px;
}

