* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  gap: 10px;
}

body {
  height: 100vh;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(223, 223, 223);
  padding: 20px 100px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.404);
}

body > div > img {
  border-radius: 100%;
}

ul li {
  display: flex;
}

ul {
  display: flex;
  flex-direction: column;
}

div {
  display: flex;
  flex-direction: column;
}
