* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
}

.container {
  width: 80vw;
  max-width: 800px;
  padding: 50px 60px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.178);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.input-group > input {
  padding: 5px 10px;
  border: rgba(0, 0, 0, 0.322) solid 1px;
  border-radius: 3px;
}

.input-group > label {
  font-weight: bold;
}

.input-group > button {
  color: white;
  padding: 10px;
  font-weight: bolder;
  font-size: 20px;
  border: none;
  background-color: rgb(1, 158, 1);
  border-radius: 3px;
}
