* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mx-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.button {
    padding: 5px 10px;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.container {
    border: 1px solid rgb(121, 121, 121);
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 10px 40px;
    margin: 20px;
}

.justify-right {
    justify-content: right;
}

.gap-5 {
    gap: 5px;
}

.flex-column {
    flex-direction: column;
}

.container > h2 {
    width: max-content;
    font-size: 15px;
    font-weight: bold;
    background: #fff;
    position: relative;
    top: -20px;
    left: -0px;
    padding: 1px 10px;
}

.radio-group {
    display: flex;
    gap: 6px;
}

.half-size {
    width: 45%;
}